# Introduction To Data Structures Handled By Pandas

In [7]:
###Libraries

import pandas as pd
import numpy as np

### Data Types Handled By Pandas
- Series (1D homogeneous array) 
- DataFrames(2D collection of Series - Heterogenous)
- Panel (3D - Heteroenous)

In [12]:
#Series of Array
a = pd.Series(np.array(['a','b','c','d']))
print(a)

0    a
1    b
2    c
3    d
dtype: object

### 1. Series

In [91]:
#Scalar Series
print(pd.Series(5))

0    5
dtype: int64

In [92]:
#
print(pd.Series([1,2,3,4,5]))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [48]:
#Displaying Data using sequence of choice
#data is dict here
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [90]:
#Displaying first 3 elements of the series
print(s[:3])

b    1.0
c    2.0
d    NaN
dtype: float64

### 2. Data Frames

In [89]:
#Creating List
data = [['Alex',10],['Bob',12],['Clarke',13]]
print(data)

[['Alex', 10], ['Bob', 12], ['Clarke', 13]]

In [88]:
#Creating Dataframe from a list
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [87]:
#Creating Dataframe Using ndarrays of same length (its a must)
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

In [86]:
#Creating Dataframe Using ndarrays with user defined row names
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['r1','r2','r3','r4'])
print(df)

    Age   Name
r1   28    Tom
r2   34   Jack
r3   29  Steve
r4   42  Ricky

In [45]:
#Creating Dataframe Using list of dicts
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [53]:
#Creating Dataframe using list of tuples
data = [(1,2,3,4,5),(6,7,8,9,10)]
df = pd.DataFrame(data,columns=['a','b','c','d','e'])
print(df)

   a  b  c  d   e
0  1  2  3  4   5
1  6  7  8  9  10

In [57]:
#Creating Dataframe using List of list
data = [[1,2,3,4,5],[6,7,8,9,10]]
df = pd.DataFrame(data,columns=['a','b','c','d','e'])
print(df)

   a  b  c  d   e
0  1  2  3  4   5
1  6  7  8  9  10

In [68]:
#Appending Rows

data1 = [(1,2,3,4,5),(6,7,8,9,10)]
df1 = pd.DataFrame(data1,columns=['a','b','c','d','e'])
data2 = [[11,12,13,14,15],[16,17,18,19,20]]
df2 = pd.DataFrame(data2,columns=['a','b','c','d','e'])
df3 = df1.append(df2)
print(df3)

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
0  11  12  13  14  15
1  16  17  18  19  20

In [76]:
#Selecting Rows - Displaying 0th row

print(df3[0:1])

   a  b  c  d  e
0  1  2  3  4  5

In [75]:
#Selecting Multiple Rows - Displaying 0th row

print(df3[0:3])

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
0  11  12  13  14  15

In [82]:
#Deleting Rows - Delete works on rownames

df1 = pd.DataFrame([[11,12,13,14,15],[16,17,18,19,20]],columns=['a','b','c','d','e'],index=[2,3])
df=df.append(df1)
print(df)

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20

In [85]:
df=df.drop(3)
print(df)

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

### 3. Panel

In [101]:
#3D datastructure of 2D dataframes

data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
        'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print(p['Item1'])
print("\n\n")
print(p['Item2'])

          0         1         2
0 -1.612612 -0.952141 -0.342491
1 -0.961943  0.924671  1.866366
2 -1.619057 -0.278124  0.541421
3 -1.317838  1.306325  1.286428



          0         1   2
0  2.208245  1.026790 NaN
1  1.066009 -0.848058 NaN
2 -0.180928  1.053355 NaN
3 -0.542570 -1.643881 NaN

In [104]:
#Displays nth row of each dataframe
print(p.major_xs(2))
print("\n\n")

#Displays nth Column of each dataframe
print(p.minor_xs(2))

      Item1     Item2
0 -1.619057 -0.180928
1 -0.278124  1.053355
2  0.541421       NaN



      Item1  Item2
0 -0.342491    NaN
1  1.866366    NaN
2  0.541421    NaN
3  1.286428    NaN