## Walkthrough to Descriptive Statistics using Pandas


- count()	 Number of non-null observations
- sum()	     Sum of values
- mean()	 Mean of Values
- median()	 Median of Values
- mode()	 Mode of values
- std()	     Standard Deviation of the Values
- min()	     Minimum Value
- max()	     Maximum Value
- abs()	     Absolute Value
- prod()	 Product of Values
- cumsum()	 Cumulative Sum
- cumprod()	 Cumulative Product

In [2]:
import pandas as pd
import numpy as np

In [8]:
#Create a Dictionary of series - Data Frame
d = {'Name':pd.Series(['Tom','James','Ricky','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)

    Age    Name  Rating
0    25     Tom    4.23
1    26   James    3.24
2    25   Ricky    3.98
3    23   Steve    2.56
4    30   Smith    3.20
5    29    Jack    4.60
6    23     Lee    3.80
7    34   David    3.78
8    40  Gasper    2.98
9    30  Betina    4.80
10   51  Andres    4.10
11   46     NaN    3.65

In [10]:
#count() - Number of non-null observations

print(df.count())

Age       12
Name      11
Rating    12
dtype: int64

In [36]:
#sum() - sum of all the numeric columns
print("sum of all the numeric columns - column wise sum ")
print(df.sum())
print("\n")

#Column sum
print("Age + ratings - row wise sum\n")
print(df.sum(1))
print("\n")

#Sum of a particular column 
print("Sum of a particular column - (Here, Age)")
print(df["Age"].sum())

sum of all the numeric columns - column wise sum
Age       382.00
Rating     44.92
dtype: float64


Age + ratings - row wise sum

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64


Sum of a particular column - (Here, Age)
382

In [38]:
#Mean
print("Column wise mean \n")
print(df.mean())
print("\n")
print("Row wise mean \n")
print(df.mean(1))
print("\n")
print("Mean of a particular column - (Here, Rating) \n")
print(df["Rating"].mean())

Column wise mean

Age       31.833333
Rating     3.743333
dtype: float64


Row wise mean

0     14.615
1     14.620
2     14.490
3     12.780
4     16.600
5     16.800
6     13.400
7     18.890
8     21.490
9     17.400
10    27.550
11    24.825
dtype: float64


Mean of a particular column - (Here, Rating)

3.7433333333333336

In [41]:
#median of the columns
print(df.median())

Age       29.50
Rating     3.79
dtype: float64

In [43]:
#mode of a column
print(df["Age"].mode())

0    23
1    25
2    30
dtype: int64

In [44]:
#Standard Deviation of columns
print(df.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [45]:
#Minimum value of a column
print(df.min())

Age       23.00
Rating     2.56
dtype: float64

In [46]:
#Maximum Value of a column
print(df.max())

Age       51.0
Rating     4.8
dtype: float64

In [62]:
#Absolute values of the column elements
print(df["Age"].abs())

0     25
1     26
2     25
3     23
4     30
5     29
6     23
7     34
8     40
9     30
10    51
11    46
Name: Age, dtype: int64

NameError: name 'floor' is not defined

In [53]:
#Row wise product
print(df.prod(1))

0     105.75
1      84.24
2      99.50
3      58.88
4      96.00
5     133.40
6      87.40
7     128.52
8     119.20
9     144.00
10    209.10
11    167.90
dtype: float64

In [56]:
#Cummulative Sum
print(df["Rating"].cumsum())

0      4.23
1      7.47
2     11.45
3     14.01
4     17.21
5     21.81
6     25.61
7     29.39
8     32.37
9     37.17
10    41.27
11    44.92
Name: Rating, dtype: float64

In [57]:
#Cummulative Product
print(df["Age"].cumprod())

0                     25
1                    650
2                  16250
3                 373750
4               11212500
5              325162500
6             7478737500
7           254277075000
8         10171083000000
9        305132490000000
10     15561756990000000
11    715840821540000000
Name: Age, dtype: int64